.news-column {
    position: relative; /* to enable absolute positioning for the arrow pseudo-element */
    width: 100%;
    margin-top: 30px;
    padding: 0;
    list-style: outside none none; /* removes default bulletpoints from the li items in the ul, :marker pseudo-elements are placed immediately before all :before pseudo-elements  */
}
.news-column::marker { /* this pseudo-element specifically targets the space for ul li item bulletpoint */ 
    font-family: FontAwesome;
    content:"\f178"; /*the code value of the fa  fa-long-arrow-right icon */
    color: var(--font-darkgrey);
    margin-right: 10px;
}
.news-column > li {
    display: flex;
    align-items: baseline; /* aligns the arrow pseudo-element vertically in the middle against the first line of text in the <li> element */
    line-height: 1;
    margin-top: 20px;
    font-weight: 900;
    transition: ease-in-out 0.6s;
}
.news-column > li::before {
    font-family: FontAwesome;
    content: "\f178";
    color: var(--font-darkgrey);
    margin-right: 15px;
    visibility: visible;
}
.news-column > li:hover::before {
    color: var(--font-blue);
    animation-name: slide-out-right;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-direction: normal;
    animation-fill-mode: none;
}
@keyframes slide-out-right {
    0%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
    60%{
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
      }
  
    61%{
        -webkit-transform: translateX(-30%);
        transform: translateX(-30%);
        opacity: 0.6;
      }

    99%{
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
        }
        100%{
        /* visibility: hidden; */
        color: transparent;
        }
}
.news-column > li::after {
    font-family: FontAwesome;
    /* content: "\f178"; */
    color: transparent;
    position: absolute;
    top: 7px;
    left: 0;
}
.news-column > li:hover::after {
    transform: translateX(100%);
    color: var(--font-blue); 
    margin-right: 15px;
    /* left: 0%; */
    animation-name: slide-in-left;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.1s;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  @keyframes slide-in-left {
    0%{
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      opacity: 0;
    }
    100%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
}

.blog-column {
    transform: translateY(-2px);
}
.blog-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.blog-post {
    margin-top: 20px;
}
.post-date {
    margin-left: 15px;
}
.post-date::before {
    float: left;
    font-family: FontAwesome;
    content:"\f133";
}
.post-title {
    line-height: 1.5;
    margin-bottom: 10px;
}
.post-title > a {
    font-size: 24px;
    font-weight: 800;
    font-family: Cerebri-Bold;
    text-decoration: none;
}
.hover-link {
    border-bottom: 1px solid #CCC;
}