.row.slider {
    display: inline;
    width: 100%;
}

.row .brand {
    display: inline-block;    
}
    .row .brand.square {
        padding: 40px 30px;
    }
    .row .brand.horizontal {
        padding: 70px 30px;
    }
    .row .brand.vertical {
        padding: 60px 50px;
    }
   
.container.brands a {
    display: inline-block;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.container.brands a > img {
    display: inline-block;
    width: 100%;
    transition: ease-in-out 0.7s;
}
.container.brands a > .brand-logo {
    opacity: 100%;
    transform: scale(1);
}
.container.brands a > .brand-logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0%;
    transform: scale(0);
}

.container.brands a:hover > .brand-logo {
    opacity: 0%;
    transform: scale(0);
}
.container.brands a:hover > .brand-logo-hover {
    opacity: 100%;
    transform: scale(1);
}