
.btn {
    display: inline-block;
    line-height: 54px;
    height: 54px;
    font-size: 15px;
    font-weight: 500;
    border-style: solid;
    line-height: 54px;
    border-radius: 5px;
    border-color: transparent;
    padding: 0 36px;
    text-align: center;
    color: #ffffff;
    background: var(--btn-color);
    border-width: 1px;
    transform: translateY(0px);
    text-decoration: none;
    font-family: Cerebri-Regular;
    transition: ease-in-out 0.5s;
    letter-spacing: 0.7px; 
    }
    font-weight: 500;
    letter-spacing: 0em;
}
    .btn:hover {
         opacity: 1;
         transform: translateY(-3px);
    } 
.fa.btn {
    background-color: #d2a98e;
    font-family: FontAwesome;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;
    font-size: 24px;
    line-height: 60px;
    transform: none;
} 
    .fa.btn:hover {
    background-color: var(--btn-color);
} 
