.case {
    background-color: #fbfbfb;
    background-image: url(https://demo.hasthemes.com/mitech-preview/assets/images/patterns/mitech-home-infotechno-case-study-section-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    max-width: 100vw;
}


   .case {
       background-color: #fbfbfb;
       background-image: url(https://demo.hasthemes.com/mitech-preview/assets/images/patterns/mitech-home-infotechno-case-study-section-bg.png);
       background-repeat: no-repeat;
       background-position: 0% 100%;
       max-width: 100%;
   }
    #case-head {
        text-align: center;   
    }
        #case-head > h6 {
            margin-bottom: 30px;
        }
        #case-head > h3 {
            margin-bottom: 20px;
            padding-bottom: 10px;
        }


#case-head>h3 {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.cards {
    overflow: hidden;

}

.cards>.cards-block {
    overflow: hidden;
    /* width: 200%; */
    padding: 20px 0px;
    transition: all 1s;
}


.cards-block .card {
    float: left;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    padding: 0px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    place-self: center;
    
}

.card>img {
    box-shadow: 3px 0px 8px 1px #f4f4f4;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.cards-block>.card:hover {
    transform: translateY(-5px);
    
}

.cards-block>.card:hover .view {
    background-position: bottom left;
    color: #ffff
}

.cards-block>.card:hover .view .fa {
    color: white;
}

.cards-block .card > .content {
    background-color: white;
    box-shadow: 3px 6px 8px 3px #f4f4f4;
    

}


    .content>h4 {
        font-weight: 500;
        font-size: 20px;
        padding: 20px 20px 0 20px;
    }

    .content>u {
        line-height: 36px;
        color: var(--font-blue);
        text-decoration: none;
        padding: 0px 20px;
    }

    .content>p {
        margin-top: 10px;
        color: var(--font-grey);
        padding: 0px 20px;
    }

    .content>.view {
        margin-top: 30px;
        width: 100%;
        text-align: center;
        padding: 20px 20px 20px 20px;
        color: var(--font-blue);
        border-top: 1px solid #ccc;
        background: linear-gradient(to top, var(--font-blue) 50%, #fff 50%);
        background-size: 100% 200%;
        background-position: top left;
        transition: 0.5s ease-out;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
    }

        .content .view>.fa {
            position: absolute;
            transition: all 0.5s ease-out;
            color: var(--font-blue);
            margin-left: 5px;
            top: 50%;
            transform: translateY(-50%);
        }

.bubbles {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    width: 100%;
}

.bubble.active {
    transform: translateY(-2px);
    width: 12px;
    height: 12px;
    background-color: var(--font-blue);
}

.bubble {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: var(--font-grey);
    border-radius: 50%;
    margin-right: 10px;
    transition: all ease-in-out 0.5s;
}

.bubbles .bubble:hover {
    transform: translateY(-2px);
    width: 12px;
    height: 12px;
    background-color: var(--font-blue);
}

.challenge {
    text-align: center;
}

.challenge>p {
    line-height: 1.4;
    font-weight: 600;
    color: black;
    font-size: 20px;
}

.challenge>p>a {
    font-size: 20px;
    text-decoration: none;
    color: var(--font-blue);
}

.challenge>p>.underline-link {
    color: var(--font-blue);
    border-bottom: 1px solid #ccc;
}

.challenge .underline-link::after {
    background-color: var(--font-blue);
    height: 1px;
    bottom: -1px;
}

@media (max-width: 1300px) {
    .cards-block>.col-4:nth-of-type(3) {
        display: none;
    }
}

@media (max-width: 860px) {
    .cards-block>.col-4:nth-of-type(2) {
        display: none;
    }
}