.contact-us {
background-color: #fbfbfb;
    background-image: url(../../img/contacts/contact-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

/* Left column */

.text-message p {
    color: var(--font-darkgrey);
    margin: 10px;
   
}


/* Right column */
.contact-us .contact-now {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;

}

.contact-us .phone-icon  {
    font-size: 60px;
    transform: scaleX(-1);
    padding: 0px;
    height: 60px;


}

.contact-us h6 {
      font-size: 20px;

}
.contact-now  u {
    text-decoration: none;
    color: var(--font-blue);
    font-size: 44px;
    font-family: Cerebri-Bold;
    line-height: 0px;
    
}

.contact-now .phone-nr > a  {
    text-decoration: none;
    margin:30px 0px 0px 0px;
    
}   {
    text-decoration: none;
    margin:30px 0px 0px 0px;
    
}  

.contact-now > .phone-nr > .underline-link {
    color: var(--font-blue);
}
.contact-now > .phone-nr > .underline-link:after {
    color: var(--font-blue);
}


.btn {
    background-color: #d2a98e;
    margin-bottom: 0 px;
    margin-top: 15px;
}

 .btn:hover {
         opacity: 1;
         transform: translateY(-3px);
         background-color: var(--btn-color);
    } 

    .contact-us .phone-icon  .fa {
        color: var(--font-blue);
    }