.contact-us {
background-color: #fbfbfb;
    background-image: url(../../img/contacts/contact-bg.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

/* Left column */
.contact-us .text-message {
    margin: 0px 0px 0px 0px;   
    
}
.text-message h3 {
    font-weight: 600;
    font-size: 40px;
    text-decoration: none;

}
.text-message p {
    color: var(--font-darkgrey);
    margin: 10px;
    line-height: 30px;
}


/* Right column */
.contact-us .contact-now {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.contact-us .phone-icon  {
    background-color: aqua;
    font-size: 60px;
    transform: scaleX(-1) ;

}

.contact-us h6 {
     
    font-size: 20px;
    padding: 0% 0% 0%;
    margin-bottom: 0px;


}
.contact-now u {
    text-decoration: none;
    color: var(--font-blue);
    font-weight: 600;
    font-size: 44px;
 
}


.btn {
    background-color: #d2a98e;
    margin-bottom: 0 px;


}

 .btn:hover {
         opacity: 1;
         transform: translateY(-3px);
         background-color: var(--btn-color);
    } 