.container.factwrapper {
    width: 100%; /* will be removed after completion of every section so there is no horizontal scroll */
    gap: 0px;
    padding: 0%;
}
.container.factwrapper * {
    font-family: Cerebri-SemiBold;
    text-align: center;
    gap: 0px;
}
.container.factwrapper > .row {
    width: 100%;
    margin: 0% 0%;
    grid-template-columns: repeat(4, 1fr); /* how many fact wrappers in one line */
}
.facts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    border: 1px var(--border-grey) solid;
    border-right: none;
    padding: 100px 0px;
}
.facts:last-of-type {
    border-right: 1px var(--border-grey) solid;
}
.facts > .upper {
    font-size: 24px;
}
.facts > .numbers {
    color: var(--font-blue);
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.facts > .bottom {
    color: var(--font-orange);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

@media (max-width: 1080px) {
    .container.factwrapper > .row {
        grid-template-columns: repeat(2, 1fr);
        width: 84%;
        margin: 0% 8%;
    }
    .facts {
        border-bottom: none;
        padding: 78px 0px;
    }
    .facts:nth-of-type(even) {
        border-right: 1px var(--border-grey) solid;
    }
}
@media (max-width: 860px) {
    .container.factwrapper > .row {
        grid-template-columns: 1fr;
    }
    .facts {
        border-right: 1px var(--border-grey) solid;
        padding: 74px 0px;
    }
    .facts > .upper {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .container.factwrapper > .row {
        width: 100%;
        margin: 0% 0%;
    }
}