.container.footer {
    text-align: left;
}
#logo-footer {
    width: 160px;
    margin-bottom: 30px;
}
.footer-column {
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--font-grey);
}
.footer-column > li {
    margin-bottom: 10px;
}
.footer-column> li > a {
    text-decoration: none;
    color: var(--font-grey);
    transition: 0.75s;
}
.footer-column > li > a:hover {
    color: var(--font-orange);
}
#contact-phone {
    color: black;
    font-weight: 800;
}
#brand-website {
    color: var(--font-blue);
}
#brand-website:hover {
    color: var(--font-orange);
}