header.container {
    grid-template-columns: 1fr;
    padding: 5px 0 0 0;
    gap: 0px;
}

    header.container > .row {
        grid-column: 1/2;
    }
    header.container > .row.top > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 34px;
        padding: 10px 20px;
        border-bottom: 1px var(--border-grey) solid;
    }
        header.container .row.top a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            text-decoration: none;
            order: 1;
        }
        header.container .row.top a > span {
            text-transform: capitalize;
            font-size: 14px;
            font-weight: bold;
            color: var(--font-blue);
            transition: ease-in-out 0.5s;
            text-align: center;
        }
        header.container .row.top a > span:hover {
            color: var(--font-orange);
        }
        header.container .row.top a > span > u {
            text-decoration: none;
            color: var(--font-darkgrey);
            font-size: 14px;
        }
        .row.navigation {
            position: relative;
        }
.navigation .logo {
    /* display: inline-block; */
    align-self: center;
  /* justify-self: center; */
    padding: 8px 6px 10px;
    align-items: center;
    order: 1;
}
.logo.col-3 {
    display: inline-block;
    /* width: 100%; */
    height: 70px;
}
    .navigation .logo > img {
        height: 50px;
        margin-left: 10%;
    }
.navigation nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    order: 2;
    /* gap: 5px; */
}
    .navigation nav a {
        display: inline-block;
        /* align-items: center; */
        /* height: 100%; */
        font-family: Cerebri-Bold;
        font-weight: 16px;
        text-decoration: none;
        color: var(--font-black);
        padding: 20px 10px;
        position: relative;
        transition: 0.5s ease-out;
        order: 2;
    }
    .navigation nav a:hover {
        color: var(--font-blue);
    }
    /* .navigation nav a:first-of-type {
        color: var(--font-blue);
        border-bottom: 4px var(--font-blue) solid;
    } */
    .navigation nav a::before { /* copy from underline-link with few tweaks*/
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--font-blue);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}
.navigation nav a:hover::before {
    transform: scaleX(1);
}
        .navigation nav a::after {
            font-family: FontAwesome;
            content: " \f107";
        }
    
/* Language Button */
.langbtn {
    display: flex;
    width: auto;
    padding: 16px;
    font-size: 16px;
    border: none;
    order: 3;
    text-transform: uppercase;
    font-family: Cerebri-SemiBold;
    font-size: 15px;
    cursor: pointer;
  }
  .langbtn::after{
    font-family: FontAwesome;
    content: " \f107";
    margin-left: 10px;
  }
  img.lang {
      margin-right: 10px;
      
  }
  /* Language Content (Hidden by Default) */
  .dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: -10%;
    min-width: 200px;
    z-index: 2;
    transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  /* Links inside */
  .dropdown-content a {
    padding: 4px 6px;
    display: block;
  }
  /* .dropdown {
    transition: all 1s;
  } */
  /* Show menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    box-shadow: 0px 1px 11px 4px rgba(0,0,0,0.2);
    transform: translateY(-15px);
}
.searchlang {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    order: 3;
    position: relative;
}
    .searchlang a {
        /* justify-content: flex-end; */
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #fff;
        /* text-align: left; */
        text-decoration: none;
        text-transform: uppercase;
        font-family: Cerebri-SemiBold;
        font-size: 15px;
        margin-right: 5%;
        position: relative;
        cursor: pointer;
    } 
   .searchlang a::after {
        font-family: FontAwesome;
        white-space: pre;
        font-size: 12px;
        padding-left: 10px;
    }
    .searchlang form {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        border-left: 1px var(--border-grey) solid;
    }
        .searchlang .search {
            display: inline-block;
            width: 100%;
            border: none;
            margin-left: 5%;
        }
        .searchlang .search::placeholder {
            color: var(--font-darkgrey);
        }
        .searchlang .search:focus {
            outline: none;
        }
        .searchlang .searchsubmit {
            display: inline-block;
            cursor: pointer;
            width: 25%;
            height: auto;
            background-color: transparent;
            border: none;
        }
        .searchlang .searchsubmit:focus {
            outline: none;
        }
        .searchlang .searchsubmit::before {
            font-size: 20px;
        }
        .burger {
            visibility: hidden;
        }

        /* Burger animation, kada keiciasi eilutes iki 231 eilutes*/
        .burger div {
            width: 24px;
            height: 3px;
            cursor: pointer;
            position: relative;
            order: 4;
            background-color: var(--font-darkgrey);
            margin: 5px;
            transition: all 1s;
        }
        .burger:hover div {
            background-color: var(--font-blue);
        }
        .burger:hover > .line1
         {
            width: 19px;
        }
        .burger:hover > .line3 {
            width: 15px;
        }
        .fa-ellipsis-h {
            display: none;
        }
@media (max-width: 1300px) {
    .header .navigation .logo {
        order: 1;
        margin-left: 8%;
    }
    .header .row.navigation nav{
        order: 2;
    }
    .header .row.navigation .searchlang {
        order: 3;
    }
}
@media (max-width: 1080px) {
    .header .navigation .logo {
        order: 1;
    }
    .header .row.navigation .searchlang {
        order: 2;
        grid-column: 8/12;
    }
    .header .row.navigation nav {
        grid-column: 12/13;
        order: 3;
    }
    .burger {
        visibility: visible;
        display: inline-block;
        position: absolute;
        top: 28%;
        left: 95%;
        z-index: 2;       
    }
    .burger div::hover {
        background-color: var(--btn-color);
    }
      #nav_block {
          display: none;
      }  
    /*.header .row.navigation nav a:not(:first-of-type) {
        display: none; /* gonna be changed when hamburger is applied
    }*/
}
@media (max-width: 860px) {
    .navigation .logo {
        order: 1;
    }
   #lang_block {
       display: none;
   }
    .header .row.navigation .searchlang {
        display: none; /* gonna be changed when hamburger is applied*/
    }
    .header .row.navigation nav{
        grid-column: 10/13;
        order: 2;
    }
    .burger {
        left: 88%;
    }
    .fa-ellipsis-h {
        display: inline-block;
        width: 100%;
        border-radius: 50%;
        position:absolute;
        font-size: 30px;
        top: 28%;
        left: 95%;
        color: #6D70A6;
        font-weight: 400;
        cursor: pointer;
    }
    .fa-ellipsis-h:hover {
       color: var(--btn-color);
    }
}
@media (max-width: 425px) {
    .burger {
       top: 28%;
       left: 78%;
    }
    .fa-ellipsis-h {
        top: 28%;
        left: 90%;
    }
}