header.container {
    grid-template-columns: 1fr;
    padding: 5px 0 0 0;
    gap: 0px;
}
    header.container > .row {
        grid-column: 1/2;
    }
    header.container > .row.top > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        margin-top: 4px;
        padding-bottom: 15px;
        border-bottom: 1px var(--border-grey) solid;
    }
        header.container .row.top a {
            text-transform: capitalize;
            color: var(--font-blue);
            text-decoration: none;
            transition: ease-in-out 0.5s;
        }
        header.container .row.top a:hover {
            color: var(--font-orange);
        }
            header.container .row.top a::after {
                content: ':  ';
                white-space: pre;
            }
        header.container .row.top p {
            color: var(--font-darkgrey);
        }
.navigation .logo {
    display: inline-block;
    margin-left: 30%;
    padding: 11px 0;
}
    .navigation .logo > img {
        display: inline-block;
        height: 50px;
    }
.navigation nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
    .navigation nav a {
        display: inline-block;
        height: 100%;
        font-family: Cerebri-Bold;
        font-weight: 16px;
        text-decoration: none;
        color: var(--font-black);
        padding: 28px 4px;
        position: relative;
        transition: 0.5s ease-out;
    }
    .navigation nav a:hover {
        color: var(--font-blue);
    }
    .navigation nav a:first-of-type {
        color: var(--font-blue);
        border-bottom: 4px var(--font-blue) solid;
    }
    .navigation nav a:not(:first-of-type):before { /* copy from underline-link with few tweaks*/
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--font-blue);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}
.navigation nav a:not(:first-of-type):hover::before {
    transform: scaleX(1);
}
        .navigation nav a::after {
            font-family: FontAwesome;
            content: " \f107";
            white-space: pre;
        }

