header.container.header {
    grid-template-columns: 1fr;
}
    header.container > .row {
        grid-column: 1/2;
    }
/* look for font */
    header.container > .row.top {
        display: flex;
        justify-content: center;
        font-size: 10px;
        height: 24px;
        padding: 6px 0px;
        border-bottom: 1px #9994 solid;
    }
        header.container > .row.top > a {
            text-transform: capitalize;
            color: #11c;
            text-decoration: none;
            transition: 0.75s;
        }
        header.container > .row.top > a:hover {
            color: hsl(40, 50%, 50%);
        }
            header.container > .row.top > a::after {
                content: ':  ';
                white-space: pre;
            }
        header.container > .row.top > p {
            color: #999;
        }
    header.container > .row.navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        header.container > .row.navigation > .logo {
            display: inline-block;
            margin-left: 9%;
        }
        header.container > .row.navigation > .hamburger {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
/* font awesome arrows for dropdown span::after */
        header.container > .row.navigation > .searchlang {
            display: flex;
            justify-content: center;
            align-items: center;
        }
            header.container > .row.navigation > .searchlang > div:first-of-type {
                border-right: 1px #9994 solid;;
            }

