.container.hero {
    display: inline-block;
    background-color: #F4EFE9;
    padding: 0;
} 

.hero-text {
    display: inline-block;
    width: 80%;
    justify-content: center;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25%;
    margin-left: 100px;
    padding-right: 15px;
    padding-left: 15px;

   }

h6.hero {
    color: var(--font-blue);
    font-size: 18px;
    text-transform: none;
    letter-spacing: 1px;
    
}
p.hero {
    color: var(--font-grey);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 30px;
}
img.hero {
    display: inline-block;
    width: 100%;
    visibility: visible;
    z-index: 1;
    position: relative;
    background-size: cover;
}
.hero-img {
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 0;
    padding-right: 15px;
    padding-left: 15px;
}
img.hero-back-img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX( -50%);
}
@media (max-width: 1080px) {
    .hero-text {
      margin-top: 5%;
      margin-left: 30px;
      width: 100%;
    }
}
@media (max-width: 860px) {
    .hero-text {
      text-align: center;
      margin: 0;
      padding: 10px;
      padding-top: 40px;
    }
}
