.container.info-techno {
    background-color: #fefefe;
    background-image: url(../../img/info-techno-hire-us/mitech-infotechno-hireus-bg.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 0px 20%;
}
    .ourcompany > div:first-of-type {
        margin: 0px 120px 0px 20px;
    }
        .info-techno h6 {
            color: var(--font-grey);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 647;
            letter-spacing: 3px;
        }
        .info-techno h3 {
            color: black;
            font-size: 44px;
            font-weight: 600;
            margin: 20px 0px;
        }
            .info-techno h3 > u {
                color: var(--font-blue);
                text-decoration: none;
            }
        p {
            color: var(--font-darkgrey);
            line-height: 24px;
        }
    .ourcompany > div:last-of-type {
        margin: 0px 10px 0px 100px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
        .info {
            display: flex;
            width: 100%;
            height: 22%;
        }
        .info:hover {
            cursor: pointer;
        }
        .info:hover .number {
            color: var(--font-blue)
        }
        .info:hover .line > span {
            color: var(--font-blue)
        }
            .info > .number {
                display: inline-block;
                width: 10%;
                color:  var(--font-darkgrey);
                font-size: 24px;
                font-weight: bold;
            }
            .info > .line {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 88%;
                margin-left: 2%;
                height: 75%;
                align-self: flex-end;
                border-top: 1px solid var(--border-grey);
            }
                .info > .line > * {
                    font-size: 24px;
                    font-weight: 600;
                    transition: ease-in-out 0.5s;
                }
                .info i {
                    display: inline-block;
                    position: absolute;
                    right: 0%;
                }
                .info:hover i:first-of-type {
                    color: transparent;
                }
                .info i:last-of-type{
                    color: transparent;
                    right: 7%;
                }
                .info:hover i:last-of-type {
                    color: var(--font-blue);
                    right: 0%;
                }