.container.info-techno {
    background-image: url(../../img/info-techno-hire-us/mitech-infotechno-hireus-bg.png);
    background-size: 25%;
    background-repeat: no-repeat;
}
    .ourcompany > div:first-of-type {
        margin: 0px 120px 0px 20px;
    }
        .info-techno h6 {
            color: var(--font-grey);
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 647;
            letter-spacing: 3px;
        }
        .info-techno h3 {
            color: black;
            font-size: 44px;
            font-weight: 600;
            margin: 20px 0px;
        }
            .info-techno h3 > u {
                color: var(--font-blue);
                text-decoration: none;
            }
        p {
            color: var(--font-darkgrey);
            line-height: 24px;
        }
    .ourcompany > div:last-of-type {
        margin: 0px 10px 0px 100px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }
        .info {
            display: flex;
            width: 100%;
            height: 30%;
        }
            .info > .number {
                width: 10%;
                color:  var(--font-darkgrey);
                font-size: 24px;
                font-weight: bold;
            }
            .info > .line {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                height: 60%;
                align-self: center;
                border-top: 1px solid var(--border-grey);
            }
                .info > .line > * {
                    font-size: 26px;
                    font-weight: 600;
                }