.container.services {
    background-color: var(--bg-color);
    text-align: center;
    max-width: 100vw;
    
}
.service.col-4 {
    background-color: #ffffff;
    margin-top: 60px;
    padding: 50px 30px 63px 30px;
    position: relative;
}

.fa.btn {
    position: absolute;
    top: 92%;
    left: 40%;
    
}
    .fa.btn:hover:after {  /* Ant btn paspausdus pelyte atsiranda pulsavimas */
                content: "";
                display: block;
                position: absolute;
                color: #ffffff;
                border-radius: 50%;
                border: 1px solid var(--font-blue);
                top: -1px;
                right: -1px;
                bottom: -1px;
                left: -1px;
                animation: pulse 2s cubic-bezier(0, 0, 0.5, 1) infinite;
                opacity: 0;
            }
