.testimonialmain {
  display: inline-block;
  width: 100%;
  padding: 80px 0;
  background-color: #f6f2ed;
}
.testimonial-head {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.testimonial-head > h6 {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}
.testimonial-head > h3 {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#testimonials {
  display: inline-block;
  width: 100%;
}

.testimonialslide {
  display: inline-block;
  overflow: hidden;
  width: 90%;
  margin: 30px 5%;
}

.testimcards {
  display: inline-block;
  transition: ease-in-out 0.6s;
  user-select: none;
}

.testimcards.nonanimated {
  transition: 0s;
}

.testimcards .testimonialcard {
  display: inline-block;
  padding: 0 24px;
  float: left;
  opacity: 100%;
  transition: ease-in-out 0.6s;
  cursor: grab;
}
.testimcards .testimonialcard:active {
  cursor: grabbing;
}

.testimcards .testimonialcard.transparent {
  opacity: 50%;
}

.testimonialcard .box {
  background-color: white;
  display: inline-block;
  text-align: left;
  padding: 10% 6%;
  height: 100%;
}

.testimo-text {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 30px;
  color: var(--phone-colore);
}

.author-info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.author-info .author-title {
  display: flex;
  flex-flow: column;
  width: 80%;
  padding-left: 25px;
  justify-content: space-around;
}

.author-info .specialty {
  display: inline-block;
  font-size: 14px;
  float: right;
  white-space: pre;
}

.author-info h6 {
  display: inline-block;
  font-size: 18px;
  float: left;
  padding-left: px;
}
.author-info > img {
  display: inline-block;
  width: 20%;
  border-radius: 50%;
  /*float: left;*/
  height: auto;
}

.testimonialmain .bubblerow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30px;
  margin: 10px 5%;
}
.bubblerow .testibubble {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0px 12px;
  border-radius: 50%;
  background-color: var(--font-grey);
  transition: ease-in-out 0.6s;
}

.bubblerow .testibubble:hover {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--font-grey);
  cursor: pointer;
}

.bubblerow .testibubble.active {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--font-blue);
}