.toast {
    position: fixed;
    top: 200px;
    right:0px;
    display: block;
    width: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, 0.1);
}

.toast > .top > .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 130%;
    box-shadow: 3px 3px 8px 1px #606060;
    opacity: 0;
    transition: all 0.4s;

}
    .toast > .top:hover > .tooltiptext {
        visibility: visible;
        opacity: 1;
        animation: bounce 0.7s ;
        transition: ease-in-out;
    }
        .toast > .top > .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 100%; /* Rodykle is desines */
            margin-top: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent black;
        }

    .toast >.middle > .tooltiptext {
        visibility: hidden;
        width: 150px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        top: 45px;
        right: 130%;
        box-shadow: 3px 3px 8px 1px #606060;
        opacity: 0;
        transition: all 0.4s;
    }

        .toast > .middle:hover > .tooltiptext {
            visibility: visible;
            opacity: 1;
            animation: bounce 0.7s ;
            transition: ease-in-out;
    }
    @keyframes bounce {
        0% {opacity: 0;}
        100% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(-10px);
        }
    }
       

    .toast > .middle > .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%; /* Rodykle is desines */
        margin-top: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent black;
      }
    .toast >.bottom > .tooltiptext{
        visibility: hidden;
        width: 150px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        top: 90px;
        right: 130%;
        box-shadow: 3px 3px 8px 1px #606060;
        opacity: 0;
        transition: all 0.4s;
    }
        .toast >.bottom:hover > .tooltiptext {
            visibility: visible;
            opacity: 1;
            animation: bounce 0.7s ;
            transition: ease-in-out;
        }
        .toast > .bottom > .tooltiptext::after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 100%; /* Rodykle is desines */
            margin-top: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent transparent black;
          }





        .toast > a > .fa {
            font-size: 18px;
            padding: 13px 5px;
            color: black;        
        }
