:root {
    --font-blue: #126ad8;
    --font-grey: #acacac;
    --font-darkgrey: #767676;
    --font-orange: #d2aa8f;
    --border-grey: #ededed;
    --bg-colour: #F8F8F8;
    --bg-colour2: #fefefe;
}