.video {
    background-image: url(../../img/video/home-infotechno-video-intro-bg.jpg);
    height: 90vh;
    background-size: cover;
    color: white;
    max-width: 100%;
}

    .video .video-head > h2 {
        padding:30px;
        margin-top: 40px;
        max-width: 100vw;
    } 

    

    .video .video-play {
        margin-left: 30px;
        align-items: center;
        margin-top: 30px;
    }

    .video a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }
        .video .video-play > a > .video-text {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing:3px;
            margin-left: 60px;
            color: white;
        }
        .video .video-play > a > .fa {
            text-align: center;
            font-size: 25px;
            background-color: var(--font-blue);
            padding:22px;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            position: relative;
        }
            .video .video-play > a > .fa::before {
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

@media (max-width: 1080px) {
    .video {
        align-content: center;
        height: 70vh;
    }
    .video .col-6:nth-of-type(1) {
        display: none;

    }
    
}

@media (max-width: 860px){
    .video .col-6:nth-of-type(2) {
        text-align: start;
        max-width: 100%;
    }
    .video {
        align-content: center;
    }
    .video .video-play > a > .video-text {
        font-size: 15px;
    }
    .video .video-play > a > .fa {
        width: 60px;
        height: 60px;
        padding: 18px;
    }
}

@media (max-width: 680px) {
    
    .video .video-play > a > .video-text {
        margin-left: 30px;
    }

    
}