.video {
    background-image: url(../../img/video/home-infotechno-video-intro-bg.jpg);
    height: 90vh;
    background-size: cover;
    color: white;
    max-width: 100%;
}

    .video .video-head > h2 {
        padding:30px;
        margin-top: 40px;
        max-width: 100vw;
    } 

    

    .video .video-play {
        margin-left: 30px;
        align-items: center;
        margin-top: 30px;
    }

    .video a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }
        .video .video-play > a > .video-text {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing:3px;
            margin-left: 60px;
            color: white;
        }
        .video .video-play > a > .fa {
            text-align: center;
            font-size: 25px;
            background-color: var(--font-blue);
            padding:22px;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            position: relative;
            color: whitesmoke;
        }
            .video-play > a > .fa > .icon { /* Priskirtas dar vienas atskiras DIV iconai */
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .video-play > a > .fa::before, /* Before ir after, du ziedai kurie pulsuoja vienas po kito */
            .video-play > a > .fa::after {
                content: "";
                display: block;
                position: absolute;
                border-radius: 50%;
                border: 1px solid var(--font-blue);
                top: -25px; /* Sitais dydziais reguliuoji pulsuojanciu ziedu issipudtimo dydi */
                right: -25px;
                bottom: -25px;
                left: -25px;
                animation: pulse 4s cubic-bezier(0, 0, 0.5, 1) infinite;
                opacity: 0;
            }
        
.video-play > a > .fa::after { /* Antro ziedo pulse uzlaikymas */
    animation-delay: 0.8s;
}
@keyframes pulse {

    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    60% {
        transform: scale(1.5);
        opacity: 0;
    }                       /* Paliktas laiko tarpas tarp                       pulsaciju,kad pasibaigus vienam ciklui,butu uzlaikymas ir prasidetu kitas ciklas */

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}


@media (max-width: 1080px) {
    .video {
        align-content: center;
        height: 70vh;
    }
    .video .col-6:nth-of-type(1) {
        display: none;

    }
    
}

@media (max-width: 860px){
    .video .col-6:nth-of-type(2) {
        text-align: start;
        max-width: 100%;
    }
    .video {
        align-content: center;
    }
    .video .video-play > a > .video-text {
        font-size: 15px;
    }
    .video .video-play > a > .fa {
        width: 60px;
        height: 60px;
        padding: 18px;
    }
}

@media (max-width: 680px) {
    
    .video .video-play > a > .video-text {
        margin-left: 30px;
    }

    
}